<form id="{{ script }}" class="form-container" method="POST" action="/{{ script }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" and field.name != "submit" %}
        <div class="form-field">
            {% if field.widget.input_type == "checkbox" %}
                <div class="field-container">
                    <div>{{ field.label }}</div>
                    <div class="checkbox">{{ field(class="form-input") }}</div>
                </div>
            {% else %}
                {{ field.label }}
                {{ field(class="form-input") }}
            {% endif %}
            {% if field.description %}
                <div class="description">{{ field.description }}</div>
            {% endif %}
            <div id="{{ field.name }}-err" class="warning"></div>
        </div>
    {% endfor %}
    <div id="submit-div" class="submit-div">
        <div id="loading-div" class=""></div>
        {{ form.submit(class="submit-btn btn-dark") }}
    </div>
</form>